@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

:root{
    --primary : hsla(100, 60%, 50%, 0.987);
    --secondary: rgba(0, 153, 255, 0.802);
}
body{
    background:
    linear-gradient(135deg, var(--primary), var(--secondary)),
     url('./../img/background.jpg') no-repeat center center / cover;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Exo', sans-serif;
}
h1 {
    font-size: 5.4rem;
    Color:#fff;
    margin-bottom: 5rem;
}
h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}
h3{
    font-size: 3.1rem;
    margin-bottom: 2rem;
}

.container {
    width:100vw;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align : center;
}
.hidden {
    display: none;
}
.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width :30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background: linear-gradient(90deg,rgb(18, 153, 255) 0% , rgb(0, 163, 255) 100%);
    border-radius: 4px;
}
.btn:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 153, 255);
    transition: transform 150 ms;
    transform: scale(1.03);
}
.btn[disabled]:hover{
    cursor : not-allowed;
    box-shadow: none;
    transform: none;
}


#Highscore-btn{
    background: linear-gradient(90deg, rgb(102, 204, 51) 0%, rgb(102, 204,48) 100%);
}
#Highscore-btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(102, 204, 51);
}
.fa-medal{
    font-size: 2.5rem;
    margin-left:1rem;
}

/* End Page CSS */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* Animation */
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: -1;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}